variables:
  #azure variables
  SDMS_AZURE_SERVICE: seismic-store-service
  CHART_PATH: devops/azure/chart
  CLOUD_PROVIDER: azure
  E2E_ADMIN_EMAIL: $AZURE_AD_USER_EMAIL
  E2E_DATA_PARTITION: $TENANT_NAME
  E2E_LEGALTAG01: $LEGAL_TAG
  E2E_LEGALTAG02: opendes-dps-integration-test-valid2-legal-tag
  E2E_TENANT: $TENANT_NAME
  POD_IDENTITY: osdu-identity
  REDIS_INSTANCE_PORT: 6380
  SDMS_MIN_REPLICAS: 1
  SDMS_MAX_REPLICAS: 5
  AZURE_SDMS_PREFIX: /seistore-svc/api/v3
  E2E_SUBPROJECT: demosandbox08
  SDMS_SIDECAR_IMAGE: seistore-svc-sidecar
  SDMS_SIDECAR_PROJECT_NAME: seismic-store-service-sidecar
  SIDECAR_URL: "https://localhost:7138"
  SIDECAR_URLS: "https://+:7138;http://+:5160"
  SDMS_SIDECAR_ENV: Development
  SDMS_SIDECAR_ENABLE_INSERT: "false"
  SDMS_SIDECAR_ENABLE_GET: "false"
  SDMS_SIDECAR_ENABLE_DELETE: "false"
  SDMS_SIDECAR_ENABLE_QUERY: "true"

sdms_azure_containerize:
  extends: .azure_containerize
  needs: ['sdms_compile-and-unit-test']
  variables:
    SHA_IMAGE: ${SDMS_PROJECT_NAME}:${CI_COMMIT_SHA}
    SHA_SIDECAR_IMAGE: ${SDMS_SIDECAR_PROJECT_NAME}:${CI_COMMIT_SHA}
    LATEST_IMAGE: ${SDMS_PROJECT_NAME}:latest
    LATEST_SIDECAR_IMAGE: ${SDMS_SIDECAR_PROJECT_NAME}:latest
    RELEASE_IMAGE: release-${CI_COMMIT_TAG}:${SDMS_PROJECT_NAME}-${CI_COMMIT_TAG}
    RELEASE_SIDECAR_IMAGE: release-${CI_COMMIT_TAG}:${SDMS_SIDECAR_PROJECT_NAME}-${CI_COMMIT_TAG}
  script:
    - cd app/$SDMS_SERVICE
    - sed -i 's|#{SDMS_PREFIX}#|'$AZURE_SDMS_PREFIX'|' ./docs/api/openapi.osdu.yaml
    # Runtime image
    - docker build -t $SDMS_UTEST_RUNTIME_IMAGE --file devops/azure/runtime.Dockerfile .
    # Sidecar image
    - cd src/cloud/providers/azure/sidecar
    - docker build --build-arg PASS=$SIDECAR_CERT_PASS -t $SDMS_SIDECAR_IMAGE .
    # Gitlab Container Registry
    - cd ../../../../..
    # Runtime image
    - docker tag $SDMS_UTEST_RUNTIME_IMAGE $CI_REGISTRY_IMAGE/$SHA_IMAGE
    - docker push ${CI_REGISTRY_IMAGE}/$SHA_IMAGE
    - docker tag $CI_REGISTRY_IMAGE/$SHA_IMAGE $CI_REGISTRY_IMAGE/$LATEST_IMAGE
    - docker push ${CI_REGISTRY_IMAGE}/$LATEST_IMAGE
    # Sidecar image
    - docker tag $SDMS_SIDECAR_IMAGE $CI_REGISTRY_IMAGE/$SHA_SIDECAR_IMAGE
    - docker push ${CI_REGISTRY_IMAGE}/$SHA_SIDECAR_IMAGE
    - docker tag $CI_REGISTRY_IMAGE/$SHA_SIDECAR_IMAGE $CI_REGISTRY_IMAGE/$LATEST_SIDECAR_IMAGE
    - docker push ${CI_REGISTRY_IMAGE}/$LATEST_SIDECAR_IMAGE
    # Azure Container Registry
    # Runtime image
    - az acr login -n $AZURE_REGISTRY
    - docker tag $SDMS_UTEST_RUNTIME_IMAGE ${AZURE_REGISTRY}.azurecr.io/$SHA_IMAGE
    - docker push ${AZURE_REGISTRY}.azurecr.io/$SHA_IMAGE
    - docker tag $CI_REGISTRY_IMAGE/$SHA_IMAGE ${AZURE_REGISTRY}.azurecr.io/$LATEST_IMAGE
    - docker push ${AZURE_REGISTRY}.azurecr.io/$LATEST_IMAGE
    - |
      if [ ! -z "$CI_COMMIT_TAG" ]; then
        docker tag $CI_REGISTRY_IMAGE/$SHA_IMAGE ${AZURE_REGISTRY}.azurecr.io/$RELEASE_IMAGE
        docker push ${AZURE_REGISTRY}.azurecr.io/$RELEASE_IMAGE
      fi
    # Sidecar image
    - az acr login -n $AZURE_REGISTRY
    - docker tag $SDMS_SIDECAR_IMAGE ${AZURE_REGISTRY}.azurecr.io/$SHA_SIDECAR_IMAGE
    - docker push ${AZURE_REGISTRY}.azurecr.io/$SHA_SIDECAR_IMAGE
    - docker tag $CI_REGISTRY_IMAGE/$SHA_SIDECAR_IMAGE ${AZURE_REGISTRY}.azurecr.io/$LATEST_SIDECAR_IMAGE
    - docker push ${AZURE_REGISTRY}.azurecr.io/$LATEST_SIDECAR_IMAGE
    - |
      if [ ! -z "$CI_COMMIT_TAG" ]; then
        docker tag $CI_REGISTRY_IMAGE/$SHA_SIDECAR_IMAGE ${AZURE_REGISTRY}.azurecr.io/$RELEASE_SIDECAR_IMAGE
        docker push ${AZURE_REGISTRY}.azurecr.io/$RELEASE_SIDECAR_IMAGE
      fi
    - |
      echo "AZURE_REGISTRY_TOKEN=$(az acr login -n $AZURE_REGISTRY --expose-token --query 'accessToken' -otsv)" >> acr_tokens.env
      echo "DST_REGISTRY_TOKEN=$(az acr login -n msosdu --expose-token --query 'accessToken' -otsv)" >> acr_tokens.env
  only:
    changes:
      - devops/**/*
      - app/sdms/**/*
    refs:
      - branches
      - main
      - merge_requests
      - tags
  artifacts:
    reports:
      dotenv: app/$SDMS_SERVICE/acr_tokens.env

sdms_azure_containerize_helm:
  extends: .azure_containerize_helm
  needs: 
    - job: sdms_compile-and-unit-test
      artifacts: false
      optional: true
  script:
    - |
      helm package --dependency-update --version ${helm_version} --app-version ${helm_app_version} \
      --destination ${helm_dir} ${helm_dir};
      packaged_file=$(find $helm_dir -name "$chart_name*.tgz")
      echo "[INFO] Publishing helm package: ${packaged_file}"
      helm push $packaged_file oci://${AZURE_REGISTRY}.azurecr.io/helm/${helm_chart_section}
      helm show chart oci://${AZURE_REGISTRY}.azurecr.io/helm/${helm_chart_section}/${chart_name} --version ${helm_version} | head -20
      echo "HELM_CHART_OCI=oci://${AZURE_REGISTRY}.azurecr.io/helm/${helm_chart_section}/${chart_name}" >> helm.env
      echo "HELM_CHART_OCI_VERSION=${helm_version}" >> helm.env
      echo "HELM_CHART_SUBDIR=${AZURE_HELM_SUBDIR}" >> helm.env
    - |
      if [[ ! -z $CI_COMMIT_TAG ]] || [[ $CI_COMMIT_BRANCH =~ ^release\/[0-9]{1,2}.[0-9]{1,2}$ ]]; then
        echo "[INFO] Release branch or tag detected"
        if [[ -z $CI_COMMIT_TAG ]] && [[ $CI_COMMIT_BRANCH =~ ^release\/[0-9]{1,2}.[0-9]{1,2}$ ]]; 
          then
              RELEASE_VER=$(echo $CI_COMMIT_BRANCH | sed "s?^release/??");
              AZ_VER="$RELEASE_VER.0"
          elif [[ $CI_COMMIT_TAG =~ ^v[0-9]{1,2}\.[0-9]{1,2}\.[0-9]{1,2}$ ]]; 
          then
              AZ_VER=$(echo $CI_COMMIT_TAG | sed "s/^v//");
          else
            AZ_VER=0.0.0-unknown;
            echo "[ERROR] Not able to parse release version";
          fi;
        find $helm_dir -name "$chart_name*.tgz" -exec rm -v {} \;
        helm_release_version=$(echo $AZ_VER | sed 's/^0./1./')
        helm package --dependency-update --version ${helm_release_version} --app-version ${AZ_VER} \
          --destination ${helm_dir} ${helm_dir};
        release_packaged_file=$(find $helm_dir -name "$chart_name*.tgz")
        helm push $release_packaged_file oci://${AZURE_REGISTRY}.azurecr.io/helm/release-${AZ_VER}/${helm_chart_section}
        > helm.env
        echo "HELM_CHART_OCI=oci://${AZURE_REGISTRY}.azurecr.io/helm/release-${AZ_VER}/${helm_chart_section}/${chart_name}" >> helm.env
        echo "HELM_CHART_OCI_VERSION=${helm_release_version}" >> helm.env
        echo "HELM_CHART_SUBDIR=${AZURE_HELM_SUBDIR}" >> helm.env
      fi

sdms_azure_container_scanning:
  extends: .azure_container_scanning
  needs: ['sdms_azure_containerize']
  variables:
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}/${SDMS_PROJECT_NAME}:${CI_COMMIT_SHA}
  rules:
    - if: $AZURE == '1' && $ENFORCE_CONTAINER_SCANNING == 'true'
      allow_failure: false
      changes:
        - devops/**/*
        - app/sdms/**/*
    - if: $AZURE == '1'
      changes:
        - devops/**/*
        - app/sdms/**/*

sdms_azure_deploy:
  extends: .azure_deploy
  needs: ["sdms_azure_containerize"]
  variables:
    AZURE_KEYVAULT: osdu-svc-properties
    DES_URL: ${AZURE_DNS_NAME}
    IMAGE: ${AZURE_REGISTRY}.azurecr.io/${SDMS_PROJECT_NAME}
    IMAGE_SIDECAR: ${AZURE_REGISTRY}.azurecr.io/${SDMS_SIDECAR_PROJECT_NAME}
    SDMS_SERVICE_NAME: ${SDMS_AZURE_SERVICE}
    BRANCH: ${CI_COMMIT_REF_SLUG}
    TAG: $CI_COMMIT_SHA
  script:
    # Replace values in config file
    - cd app/$SDMS_SERVICE
    - cp ${CHART_PATH}/helm-config.yaml ${CHART_PATH}/values.yaml
    - sed -i 's,#{CONTAINER_REGISTRY_NAME}#,'$IMAGE',' ${CHART_PATH}/values.yaml
    - sed -i 's,#{DNS_HOST}#,'$DES_URL',' ${CHART_PATH}/values.yaml
    - sed -i 's/#{ENVIRONMENT_NAME}#/'$SDMS_ENVIRONMENT'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{IMAGE_TAG}#/'$TAG'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{KEYVAULT_NAME}#/'$AZURE_KEYVAULT'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{PORT}#/'${SDMS_PORT}'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{PROVIDER_NAME}#/'$CLOUD_PROVIDER'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{REDIS_HOST}#/'$REDIS_INSTANCE_ADDRESS'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{REDIS_KEY}#/'$REDIS_INSTANCE_KEY'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{REDIS_PORT}#/'$REDIS_INSTANCE_PORT'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{REPLICA_COUNT}#/'$SDMS_REPLICA'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{SDMS_MIN_REPLICAS}#/'$SDMS_MIN_REPLICAS'/' ${CHART_PATH}/values.yaml
    - sed -i 's/#{SDMS_MAX_REPLICAS}#/'$SDMS_MAX_REPLICAS'/' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SDMS_PREFIX}#|'$AZURE_SDMS_PREFIX'|' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SIDECAR_URL}#|'${SIDECAR_URL}'|' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SIDECAR_URLS}#|'${SIDECAR_URLS}'|' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SDMS_SIDECAR_ENV}#|'${SDMS_SIDECAR_ENV}'|' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SDMS_SIDECAR_ENABLE_INSERT}#|'${SDMS_SIDECAR_ENABLE_INSERT}'|' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SDMS_SIDECAR_ENABLE_GET}#|'${SDMS_SIDECAR_ENABLE_GET}'|' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SDMS_SIDECAR_ENABLE_DELETE}#|'${SDMS_SIDECAR_ENABLE_DELETE}'|' ${CHART_PATH}/values.yaml
    - sed -i 's|#{SDMS_SIDECAR_ENABLE_QUERY}#|'${SDMS_SIDECAR_ENABLE_QUERY}'|' ${CHART_PATH}/values.yaml
    - sed -i 's,#{CONTAINER_SIDECAR_REGISTRY_NAME}#,'$IMAGE_SIDECAR',' ${CHART_PATH}/values.yaml
    - sed -i 's/#{IMAGE_SIDECAR_TAG}#/'$TAG'/' ${CHART_PATH}/values.yaml
    # Install helm chart
    - helm upgrade $SDMS_SERVICE_NAME ${CHART_PATH} --install --dry-run --values $CHART_PATH/values.yaml
    - helm upgrade $SDMS_SERVICE_NAME ${CHART_PATH} --install --values $CHART_PATH/values.yaml
    - kubectl describe deployment/$SDMS_SERVICE_NAME -n osdu
    - kubectl get pods -n osdu | grep $SDMS_SERVICE_NAME
    # Wait for service to be running to start
    - kubectl rollout status deployment.v1.apps/$SDMS_SERVICE_NAME -n osdu --timeout=900s
    - pod=$(kubectl get pod -n osdu|grep $SDMS_PROJECT_NAME |tail -1 |awk '{print $1}')
    - status=$(kubectl wait -n osdu --for=condition=Ready pod/$pod --timeout=600s)
    - if [[ "$status" != *"met"* ]]; then echo "POD didn't start correctly" ; exit 1 ; fi
  only:
    changes:
      - devops/**/*
      - app/sdms/**/*
    refs:
      - branches
      - main
      - merge_requests
      - tags

sdms_azure_test:
  image: node
  extends: .azure_test
  needs: ["sdms_azure_deploy"]
  variables:
    AZURE_AD_APP_RESOURCE_ID: $AZURE_APP_ID
    AZURE_AD_TENANT_ID: $AZURE_TENANT_ID
    AZURE_TESTER_SERVICEPRINCIPAL_SECRET: $AZURE_PRINCIPAL_SECRET
    INTEGRATION_TESTER: $AZURE_PRINCIPAL_ID
  script:
    - cd app/$SDMS_SERVICE
    - echo $svctoken > /dev/null
    - npm install -g newman
    - npm install -g husky
    - chmod +x ./tests/e2e/run_e2e_tests.sh
    - ./tests/e2e/run_e2e_tests.sh --seistore-svc-url="https://${AZURE_DNS_NAME}${AZURE_SDMS_PREFIX}" --seistore-svc-api-key="NA" --user-idtoken="$svctoken" --tenant="${E2E_TENANT}" --admin-email="${E2E_ADMIN_EMAIL}" --datapartition="${E2E_DATA_PARTITION}" --legaltag01="${E2E_LEGALTAG01}" --legaltag02="${E2E_LEGALTAG02}" --VCS-Provider="${ISGITLAB}"  --subproject="${E2E_SUBPROJECT}"
  only:
    changes:
      - devops/**/*
      - app/sdms/**/*
    refs:
      - branches
      - main
      - merge_requests
      - tags
